body {
  background-color: rgb(26, 26, 26);
}

label {
  color: white;
}

.colorwrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.colorBox {
  width: 250px;
  height: 250px;
  /* border: 2px solid black; */
}
