body {
  background-color: rgb(26, 26, 26);
}

label {
  color: white;
}

.colorwrapper {
  margin-top: 20px;
  justify-content: center;
  display: grid;
  grid-template-rows: 300px 300px;
}
.colorBox {
  width: 250px;
  height: 250px;
  align-self: center;
}

.hexcode {
  grid-row: 2;
  width: 250px;
  height: 250px;
  align-self: start;
  text-align: center;
  color: white;
}
